body {
    margin: 0;
}
.app {
}
.header {
    display: flex;
    align-items: center;
    height: 150px;
    color:white;
    background-color:black;
    padding: 10px;
    /* width: 100%; */
}

.search {
    display: flex;
}